# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.egg
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# LaTeX build
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.xdv
*.synctex.gz

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backup files
*.b
